name: Testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Tests on (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.12"]
        include:
          - os: "ubuntu-latest"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh"
            python-version: "3.14"
          - os: "ubuntu-latest"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh"
            python-version: "3.12"
          - os: "macos-latest"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-x86_64.sh"
            python-version: "3.13"
          - os: "macos-14"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-arm64.sh"
            python-version: "3.12"
          - os: "macos-14"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-arm64.sh"
            python-version: "3.13"
          - os: "macos-14"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-arm64.sh"
            python-version: "3.14"
          - os: "windows-latest"
            installer-url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Windows-x86_64.exe"
            python-version: "3.12"
      max-parallel: 8
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
      - uses: proudust/gh-describe@v2
        # id needed to generate the outputs
        id: ghd
      - name: Check outputs
        run: |
          echo "describe  : ${{ steps.ghd.outputs.describe }}"
          echo "tag       : ${{ steps.ghd.outputs.tag }}"
          echo "distance  : ${{ steps.ghd.outputs.distance }}"
          echo "sha       : ${{ steps.ghd.outputs.sha }}"
          echo "short-sha : ${{ steps.ghd.outputs.short-sha }}"
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          installer-url: ${{ matrix.installer-url }}
          python-version: ${{ matrix.python-version }}
          miniforge-variant: Miniforge3

      - name: Install Dependencies (Unix)
        if: matrix.os != 'windows-latest'
        shell: bash -el {0}
        run: |
          conda info
          conda list
          conda install --quiet compilers pybind11 numpy openjph setuptools pytest --yes
          export OJPH_GIT_DESCRIBE=${{ steps.ghd.outputs.describe }}
          python -m pip install -e . -vvv --no-deps --no-build-isolation --disable-pip-version-check
          python --version

      - name: Test Package (Unix)
        if: matrix.os != 'windows-latest'
        shell: bash -el {0}
        run: |
          pip check
          python -c "import ojph; print(ojph.__version__)"
          pytest

      - name: Install Dependencies (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          conda info
          conda list
          conda install --yes --quiet compilers pybind11 numpy openjph setuptools pytest git
          set "OJPH_GIT_DESCRIBE=${{ steps.ghd.outputs.describe }}"
          setx OJPH_GIT_DESCRIBE ${{ steps.ghd.outputs.describe }}
          python -m pip install -e . -vvv --no-deps --no-build-isolation --disable-pip-version-check
          python --version

      - name: Test Package (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          pip check
          python -c "import ojph; print(ojph.__version__)"
          pytest
